@import url('https://fonts.googleapis.com/css?family=Lato');


.afu-container{
    background-color: #BABABA;
    margin-top: 3vh;
    border: 4px solid rgb(139, 136, 136);
    border-radius: 6px;
}
.title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid rgb(140, 145, 142);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    padding: 10px;
    margin: 10px;
}
.ffLato {
    font-family: 'Lato', sans-serif;
}
.bottom-info p {
    font-size: 1.5rem;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }