<style>

  .h2Agent{
    display: block;
    margin: 10px 0px 0px 0px;
  }

  .h2Docs{
    display: block;
    margin: 0px 0px 25px 0px;
    text-align: center;
  }

  .btnAcept{
    font-size: 3em;
  }

  .bitacora{
    width: 100%;
  }

  .slcFian{
    width: 80%;
  }

  .dvDocs{
    margin-top: 5%;
  }


  @media (min-width: 992px){
    .col-md-3 {
      width: 33%;
    }
  }
  
  /*FileUpload CSS*/
  /*********************************************************************************************/
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
  }

  #file-label mat-icon {
    font-size: 18px;
    text-align: center;
  }

  #file-label a {
    cursor: pointer;
  }

  .iconMat{
    color: #3ec0ef;
  }

  .titDoc{
    /*display: block;*/
    position: relative;
    height: 50px;
    font-size: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
    min-width: 0px;
  }

  .nameDoc{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  /*********************************************************************************************/
  
</style>



<div class="wrapper">

    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    
    <div class="content-wrapper">
  
      <section class="content">
        
          <h1>Solicitud de Fianza</h1>

          <div class="col-md-12">
            
            <form [formGroup] = "altSolForm" class="mat-dialog-content">

              <div class="box box-info">

                <div class="box-header with-border">

                  <h3 class="box-title">Fecha: {{ " " + dateNow}} </h3>
                  <h2 class="box-title h2Agent">Agente: {{" " + usuSol.Auth.CredentialLogin}} </h2>
                  
                  <div class="pull-right box-tools">
                      <button mat-icon-button color="primary" class="info-box-icon btnAcept" focusable="false"  [disabled]="altSolForm.invalid" (click)="onAltaSol()">
                          <i class="fa fa-floppy-o  mat-icon"></i>
                      </button>
                      <br />
                      <a color="primary">Guardar</a>
                  </div>

                </div>

                <div class="box-body pad">
                    
                    <div class="row">
                        <div class="col-6 col-md-4"></div>
                        <div class="col-6 col-md-4">
                            <div class="form-group">
                                <mat-form-field color="" class="slcFian">
                                    <mat-label>Afianzadora</mat-label>
                                    <mat-select formControlName="slAfin">
                                        <mat-option *ngFor="let afianz of solNew.lstAfianzadoras" [value]="afianz.CVE_AFIAN">
                                            {{afianz.NOM_AFIAN}}
                                          </mat-option>
                                      </mat-select>
                                </mat-form-field>
                              </div>
                        </div>
                        <div class="col-6 col-md-4"></div>
                    </div>

                    <div class="row">
                          
                      <div class="col-md-6">
  
                          <div class="form-group">
                            <mat-form-field color="" class="slcFian">
                                <mat-label>Ramo</mat-label>
                                <mat-select (selectionChange)="getSubRamoMethod($event, state)" formControlName="slRamo">
                                    <mat-option *ngFor="let tipRamo of solNew.lstTipRamos" [value]="tipRamo.CVE_RAMO" >
                                      {{tipRamo.DES_RAMO}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="form-group">
                            <mat-form-field color="" class="slcFian">
                                <mat-label>Sub Ramo</mat-label>
                                <mat-select (selectionChange)="getTipFianza($event, state)" formControlName="slSubRamo">
                                    <mat-option *ngFor="let subRamo of arrSubRamos" [value]="subRamo.CVE_SUBRAMO" >
                                      {{subRamo.DES_SUBRAMO}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                          </div>
                        
                          <div class="form-group">
                            <mat-form-field color="" class="slcFian">
                                <mat-label>Tipo Fianza</mat-label>
                                <mat-select (selectionChange)="showFilesFia($event, state)" formControlName="slTipFia">
                                    <mat-option *ngFor="let tipSol of arrTipSol" [value]="tipSol.CVE_PAQUETE" >
                                      {{tipSol.DES_PAQUETE}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                          </div>

                      </div>
                        
                      <div class="col-md-6">
                          
                        <div class="form-group">
                          <mat-form-field color="" class="slcFian">
                              <mat-label>Tipo de Movimiento</mat-label>
                              <mat-select formControlName="slTipMov">
                                  <mat-option *ngFor="let tipMov of solNew.lstTipMovimiento" [value]="tipMov.CVE_TIPO_DOC">
                                      {{tipMov.DES_DOCUMENTO}}
                                    </mat-option>
                                </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                          <mat-form-field color="" class="slcFian">
                            <mat-label>Beneficiario</mat-label>
                            <mat-select formControlName="slBenf">
                              <mat-option *ngFor="let benef of solNew.lstBeneficiarios" [value]="benef.CVE_BENEF">
                                  {{benef.RAZON_SOCIAL_BENEF}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field color="" class="slcFian">
                              <mat-label>Gerencia</mat-label>
                              <mat-select formControlName="slGere">
                                <mat-option *ngFor="let gere of solNew.lstGerencias" [value]="gere.CVE_GERE">
                                    {{gere.DESC_GERE}}
                                  </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                      
                      </div>

                    </div>

                    <div class="row">
                        <div class="col-md-8">
                          <mat-form-field color="" class="bitacora">
                              <textarea matInput formControlName="txtaDetSol" ></textarea>
                              <mat-placeholder class="placeHolder">Detalle Solicitud</mat-placeholder>
                          </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">

                          <h2 class="h2Docs" #hDocs>Documentos Requeridos</h2>

                          <div class="row">
                            <div *ngFor="let fileFia of arrTipDocs">
                                  
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                      <span class="info-box-icon bg-aqua">
                                      <i class="fa fa-file-text"></i></span>
                                      <div class="info-box-content">

                                        <button mat-button class="iconMat" (click)='onClick(fileFia.CVE_TIPO_DOC)'>
                                            <mat-icon class="iconMat">unarchive</mat-icon>
                                        </button>
                                        <a class="titDoc">{{fileFia.DES_DOCUMENTO}}</a>
                                        <br/>
                                        <ul>
                                          <li>
                                              <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                              <span id="{{fileFia.idTipDoc}}" class="nameDoc"></span>
                                          </li>
                                        </ul>
                                        <input type="file" id="{{fileFia.CVE_TIPO_DOC}}" name="{{fileFia.CVE_TIPO_DOC}}" 
                                         accept="{{accept}}" style="display:none;" (change)="onChange($event, fileFia.CVE_TIPO_DOC)"/>

                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>

                      </div>
                    </div>

                </div>

              </div>
            
            </form>

          </div>
      </section>
    </div>
  
    <app-footernavbar></app-footernavbar>
    <app-settingsnavbar></app-settingsnavbar>
  
</div>