<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.1.0
  </div>
  <strong>Servicios Asegurables, Agente de Seguros y de Fianzas, S.A. de C.V. Todos los derechos Reservados 
    <a href="http://www.ordas-seguros.mx/aviso-de-privacidad">Aviso de privacidad</a>
  </strong> 
</footer>