<style>

  .logoHead{
    background-color: #263576   !important; 
  }
  
  .skin-blue .main-header .logoHead:hover {
    background-color: #222d32 !important;
  }

  .navHead {
    background-color: #263576  !important;
  }

  a.sidebar-toggle:hover {
    background-color: #263576  !important;
  }

  li.user-header {
    background-color: #222d32 !important ;
  }

  .main-header .logo {
    font-size: 18px;
    height: 80px;
  }

  .main-header .navbar{
    min-height: 80px;
  }

  .navbar-custom-menu {
    position: relative;
    top: 35px;
  }

  a.dropdown-toggle {
    background: rgba(0,0,0,0) !important;
  }

</style>



<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logoHead logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b></b>OH</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Grupo Ordás-Howden</b> </span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navHead navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-book"></i>
              Guia Rapida
            </a>
          </li>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>
              Patricia Novoa Olvera
            </a>
          </li>
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-sign-out"></i>
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>

  </nav>

</header>