<style>

  .form-group {
     margin-bottom: 0px; 
  }

  div#cdk-overlay-0 {
    width: 80%;
  }
  
  .mat-dialog-title{
    margin: 0px 0 19px;
  }

  .mat-card {
    top: -24px;
  }

  
  .mat-dialog-content{
    /*margin: 15px 0px;*/
    margin: 5px 5px 5px 5px;
    overflow: hidden;
  }

  .headTabTable {
    width: 50%;
  }


  .mat-tab-body-content{
    overflow: hidden !important;
  }

  .mat-card-header {
    background-color: red !important;
    padding: 5px !important;
  }
  

  .mat-form-field{
    width: 100%;
  }

  .mat-tab-header{
    top: -18px;
  }

  .mat-dialog-actions{
    padding: 30px 0;
  }

  input[type="text"]:disabled{
    background-color: white;
    color: black;
    text-align: center;
  }

  .placeHolder{
    font-weight: bold;
    color: black;
  }

  /*******************************************************************/
 
  /******************************************************************/
  .flex-column {
    flex-direction: column!important;
  }

  .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  /********************* Revision **********************************************/
  @media (min-width: 992px){
    .col-md-3 {
      width: 33%;
    }
  }

 @media (max-width: 999px){
  .mat-dialog-content{
      overflow: auto;
    }
 
  }


  .info-box{
    background-color: #d9edf7;
    border-radius: 0.5em;
    width: 80%;
    margin: 15px 0px 0px 0px;
  }
  
  .info-box-text {
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    text-align: center;
    /* float: right; */
    margin: 30px 0px 0px 0px;
    white-space: pre-wrap;
  }

  .dvBoxFath{
    display: block;
    position: relative;
    width: 50%;
    height: 40px;

    /*float: right;*/
  }

  .dvBoxChid{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    top: -20px;
  }

  .dvBoxChid  p{
    display: block;
    position: relative;
     text-align: center; 
     
    /*
    top: -25px;
    float: left;
    left: -50px;
    */
  }


  .dvSlide{
    float: right;
    margin-right: 15px;
  }
  
 


   /********************* Proceso **********************************************/

   .info-box-2 {
    background-color: #d9edf7;
    border-radius: 0.5em;
    width: 80%;
    margin: 15px 0px 0px 0px;
    display: block;
    min-height: 106px;
    background-color: #d9edf7;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   }
    



  .info-box-content2 {
    padding: 5px 10px;
    margin-left: 17px;
  }

     /********************* Terminada **********************************************/

  .btnControl{
    font-size: x-large;
    top: 25px;
    /* float: none; */
    left: 10%;
  }
  
  /**************************** Cards  ***********************************************/
  
  .cardBody{
    padding-left: 15px;
  }
  

  div#mat-tab-label-1-0 {
    background-color: deepskyblue;
  }

  .mat-icon-button{
    z-index: 1;
    height: 47px;
  }

  button.info-box-icon.btnAcept.mat-icon-button.mat-primary {
    font-size: 50px;
    margin: 0 0 0 0px;
    display: inline-block;
    position: relative;
  }

  .saveG{
    display: inline-block;
    position: relative;
    top: 9px;
    text-align: center;
    margin: 0 0 0 7px;
  }

  .titHead{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 55px 0px 0px;
    
  }

  .titDoc{
    display: block;
    position: relative;
    height: 50px;
    font-size: x-small;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .btnFileFia {
    display: block;
    width: 0px;
  }

  /*FileUpload CSS*/
  /*********************************************************************************************/
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
  }

  #file-label mat-icon {
    font-size: 18px;
    text-align: center;
  }

  #file-label a {
    cursor: pointer;
  }

  .iconMat{
    color: #3ec0ef;
    font-size: xx-large;
  }

  .iconDown{
    color: #47c66b;
  }
  /*********************************************************************************************/
  button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

</style>

<div class="mb-2" id="dtClientes">

  <div class="box box-primary" id="boxFiltros">

          <h3 mat-dialog-title>Solicitud: {{data.solDetFianza.NUM_SOL}}</h3>

          <mat-card class="table table-bordered table-hover">
            
            <mat-tab-group mat-stretch-tabs [backgroundColor]="primary"> 
              

              <mat-tab>

                <ng-template mat-tab-label class="headTabTable" class="ngTemplate">
                  <span class="tab-number">Contrato</span>
                </ng-template>

                <form class="mat-dialog-content" [formGroup] = "contracForm" >
                  
                  <div class="row">
                    <div class="pull-right box-tools">
                      <button mat-icon-button color="primary" class="info-box-icon btnAcept" focusable="false" [disabled]="contracForm.invalid"  (click)="onSaveContrato()" >
                          <i class="fa fa-floppy-o  mat-icon"></i>
                      </button>
                      <br />
                      <a class="saveG">Guardar</a>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                          <mat-form-field color="accent" >
                            <input matInput type="text" id="contrAfi" placeholder="" #input            
                              class="form-control"  name="contrAfi" formControlName="contrAfi" >
                            <mat-placeholder class="placeHolder"># Contrato</mat-placeholder>
                          </mat-form-field>
                      </div>
                    </div>
                    
                    <div class="col-md-3">

                      <div class="form-group">
                          <div class="form-group">
                              <mat-form-field color="accent" >
                                <input matInput type="text" id="contrAfi" placeholder="" #input            
                                  class="form-control"  name="tipContAfi" formControlName="tipContAfi" >
                                <mat-placeholder class="placeHolder">Tipo de Contrato</mat-placeholder>
                              </mat-form-field>
                          </div>
                      </div>

                    </div>
                
                    <div class="col-md-3">
                    </div>

                  </div>

                  <div class="row">
                      
                      <div class="col-md-3">
                          <mat-form-field color="accent">
                              <input matInput [matDatepicker]="contraPicker" class="form-control" placeholder="Fecha Contrato" name="dateContr" formControlName="dateContr"  >
                              <mat-datepicker-toggle matSuffix [for]="contraPicker"></mat-datepicker-toggle>
                              <mat-datepicker #contraPicker></mat-datepicker>
                          </mat-form-field>
                      </div>

                      <div class="col-md-3">
                          <div class="form-group">
                              <mat-form-field color="accent">
                                <input matInput [matDatepicker]="conCumpPicker" class="form-control" placeholder="Fecha Cumplimiento" name="dateCumContr" formControlName="dateCumContr"  >
                                <mat-datepicker-toggle matSuffix [for]="conCumpPicker"></mat-datepicker-toggle>
                                <mat-datepicker #conCumpPicker></mat-datepicker>
                              </mat-form-field>  
                          </div>
                      </div>

                      <div class="col-md-3">
                          <div class="form-group">
                              <mat-form-field color="accent" >
                                <input matInput type="text" id="gerContr" placeholder="" #input            
                                  class="form-control"  name="gerContr" formControlName="gerContr" >
                                <mat-placeholder class="placeHolder">Gerencia</mat-placeholder>
                              </mat-form-field>
                          </div>
                      </div>


                  </div>

                  <div class="row">
                      <div class="form-group">
                        <div class="card card-default cardBody">
                          
                          <div class="card-header"></div>
          
                          <div class="card-body">

                             <!--DocsFianza-->
                             <div *ngFor="let fileDoc of data.solDetFianza.lstDocsFia">
                                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <a class="titHead">{{fileDoc.DES_TIP}}</a>
                                    <div class="info-box bg-info">
                                    
                                      <div class="dvBoxFath">
                                        <span class="elevation-1">

                                          <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit(row, fileDoc.ID_DOCUMENTO)" [disabled]="btnDis">
                                            <!--<i class="fa fa-download mat-icon"></i>-->
                                            <mat-icon class="iconMat">unarchive</mat-icon>
                                          </button>
                                          
                                          <button id="btnfileFia.ID_DOCUMENTO" mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="DownLoadFiles(fileDoc)" >
                                            <!--<i class="fa fa-file-o mat-icon"></i>-->
                                            <mat-icon class="iconMat iconDown">archive</mat-icon>
                                          </button>
                                          
                                        </span>
                                    </div>
                                  
                                    <div class="dvBoxChid ">
                                      <span class="elevation-1">
                                        <div>
                                          <a class="titDoc">{{fileDoc.NOM_DOCUMENTO}}</a>
                                          <div class="dvSlide">
                                            <mat-slide-toggle></mat-slide-toggle>
                                          </div>
                                        </div>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                            </div>

                          </div>
                        </div>
                      </div>
                  </div>

                </form>

              </mat-tab>
      
              
              <mat-tab>

                <ng-template mat-tab-label>
                  <span class="tab-number">Fianza</span>
                </ng-template>
              
                <form class="mat-dialog-content"  [formGroup] = "fianzaForm" >
              
                  <div class="row">
                      <div class="pull-right box-tools">
                        <button mat-icon-button color="primary" class="info-box-icon btnAcept" focusable="false" [disabled]="fianzaForm.invalid"  (click)="onSaveFia()" >
                            <i class="fa fa-floppy-o  mat-icon"></i>
                        </button>
                        <br />
                        <a class="saveG">Guardar</a>
                      </div>
                  </div>

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                          
                          <mat-form-field color="accent">
                            <input matInput type="text" id="numFia" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.NUM_FIA" name="numFia" formControlName="numFia" >
                            <mat-placeholder class="placeHolder"># Fianza</mat-placeholder>
                          </mat-form-field>

                          
                          <div class="form-group">
                            <mat-form-field color="accent" >
                              <input matInput type="text" id="desAfi" placeholder="" #input class="form-control"  name="desAfi" [ngModel]="data.solDetFianza.DES_AFI" formControlName="desAfi" disabled>
                              <mat-placeholder class="placeHolder">Afianzadora</mat-placeholder>
                            </mat-form-field>
                          </div>
                         
                          <div class="form-group">
                            <mat-form-field color="accent">
                              <input matInput type="text" #input id="descSol" class="form-control" placeholder="" name="descSol" [ngModel]="data.solDetFianza.DES_TIPO_SOL" formControlName="descSol" disabled >
                              <mat-placeholder class="placeHolder">Tipo de Fianza</mat-placeholder>
                            </mat-form-field>
                          </div>
                        
                          

                      </div>
                    </div>
                    
                    <div class="col-md-3">

                      <div class="form-group">

                        <mat-form-field color="accent">
                          <input matInput type="text" #inputstate id="benFia" class="form-control" placeholder="" name="benFia" maxlength="10" [ngModel]="data.solDetFianza.DES_BENEF" formControlName="benFia" disabled>
                          <mat-placeholder class="placeHolder">Beneficiario</mat-placeholder>
                        </mat-form-field>
                          

                        <mat-form-field color="accent">
                          <input matInput [matDatepicker]="picker" class="form-control" placeholder="Vigencia Fianza" name="vigFia" formControlName="vigFia" [ngModel]="data.solDetFianza.FEC_VIG_FIA" >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field color="accent">
                          <input matInput type="number" #input id="monFia" class="form-control" placeholder="" [ngModel]="data.solDetFianza.MON_REC" name="monFia" formControlName="monFia" >
                          <mat-placeholder class="placeHolder">Monto</mat-placeholder>
                        </mat-form-field>

                        </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-group">
                      <div class="card card-default cardBody">
                        
                        <div class="card-header"></div>
        
                        <div class="card-body">
                        
                          <div class="row">

                            <div *ngIf="show" class="col-12 col-sm-6 col-md-3">
                              <div class="info-box bg-info">
                                <div class="dvBoxFath">
                                  <span class="elevation-1">
                                    <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(3)' >
                                      <!--<mat-icon class="iconMat">file_upload</mat-icon>-->
                                      <mat-icon class="iconMat">unarchive</mat-icon>
                                      
                                    </button>
                                    <ul>
                                      <li>
                                        <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                      </li>
                                    </ul>
                                    <input type="file" id="3" name="inFileFia" 
                                        accept="{{accept}}" style="display:none;" (change)="onChange($event, 3)"/>
                                    <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()">
                                      <!--<i class="fa fa-file-o mat-icon"></i>-->
                                      <mat-icon class="iconMat iconDown">archive</mat-icon>
                                    </button>
                                  </span>
                                </div>
                            
                                <div class="dvBoxChid ">
                                  <span class="elevation-1">
                                    <p>
                                      <a>Poliza</a>
                                      <br />
                                      <span id="spFianza"></span>
                                    </p>
                                    <div class="dvSlide">
                                      <!--<mat-slide-toggle></mat-slide-toggle>-->
                                    </div>
                                  </span>
                                </div>
                            
                            
                            
                              </div>
                            </div>
                            
                            <div *ngIf="show" class="col-12 col-sm-6 col-md-3">
                              <div class="info-box bg-info">
                                <div class="dvBoxFath">
                                  <span class="elevation-1">
                                    <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(7)' >
                                      <mat-icon class="iconMat">unarchive</mat-icon>
                                    </button>
                                    <ul>
                                      <li>
                                        <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                      </li>
                                    </ul>
                                    <input type="file" id="7" name="inFileRec" 
                                        accept="{{accept}}" style="display:none;" (change)="onChange($event, 7)"/>
                                    <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()">
                                      <mat-icon class="iconMat iconDown">archive</mat-icon>
                                    </button>
                                  </span>
                                </div>
                            
                                <div class="dvBoxChid ">
                                  <span class="elevation-1">
                                    <p><a>Recibo</a>
                                      <br />
                                      <span id="spRecibo"></span>
                                    </p>
                                    <div class="dvSlide">
                                      <!--<mat-slide-toggle></mat-slide-toggle>-->
                                    </div>
                                  </span>
                                </div>                                     
                            
                              </div>
                            </div>
                            
                            <div *ngIf="show" class="col-12 col-sm-6 col-md-3">
                              <div class="info-box bg-info">
                            
                              <div class="dvBoxFath">
                                <span class="elevation-1">
                                  <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(8)' >
                                    <mat-icon class="iconMat">unarchive</mat-icon>
                                  </button>
                                  <ul>
                                    <li>
                                      <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                    </li>
                                  </ul>
                                    <input type="file" id="8" name="inFileRec" 
                                        accept="{{accept}}" style="display:none;" (change)="onChange($event, 8)"/>
                                      <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="startEdit()">
                                        <mat-icon class="iconMat iconDown">archive</mat-icon>
                                      </button>
                                </span>
                              </div>
                            
                                <div class="dvBoxChid ">
                                  <span class="elevation-1">
                                    <p><a>XML</a>
                                      <br />
                                      <span id="spXML"></span>
                                    </p>
                                    <div class="dvSlide">
                                      <!--<mat-slide-toggle></mat-slide-toggle>-->
                                    </div>
                                  </span>
                                </div>                            
                            
                              </div>
                              
                            </div>

                             <!--DocsFianza-->
                             <div *ngFor="let fileFia of data.solDetFianza.lstFilesFia">
                                    
                                <div class="col-12 col-sm-6 col-md-3">
                                  <a class="titHead">{{fileFia.DES_TIP}}</a>
                                    
                                  <div class="info-box bg-info">
                                        
                                    <div class="dvBoxFath">
                                        
                                      <span class="elevation-1">
                                        <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)='onClickFile(fileFia.ID_TIPO, fileFia.ID_DOCUMENTO)' >
                                          <!--<mat-icon class="iconMat">file_upload</mat-icon>-->
                                          <mat-icon class="iconMat">unarchive</mat-icon>
                                          
                                        </button>
                                        <ul>
                                          <li>
                                            <mat-progress-bar mode="query" [@fadeInOut]="stMatPro"></mat-progress-bar>
                                            <!--<span id="{{'sp'+fileFia.DES_TIP}}"></span>-->
                                          </li>
                                        </ul>
                                        <input type="file" id='{{fileFia.ID_TIPO}}' name="inFileFia" 
                                            accept="{{accept}}" style="display:none;" (change)="onChange($event, fileFia.ID_TIPO)"/>
                                        <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" focusable="false" (click)="DownLoadFiles(fileFia)">
                                          <!--<i class="fa fa-file-o mat-icon"></i>-->
                                          <mat-icon class="iconMat iconDown">archive</mat-icon>
                                        </button>
                                      </span>

                                    </div>
                                  
                                    <div class="dvBoxChid ">
                                      <span class="elevation-1">
                                        <div>
                                          <a id="{{'sp'+fileFia.DES_TIP}}" class="titDoc">{{fileFia.NOM_DOCUMENTO}}</a>
                                          <div class="dvSlide">
                                            <mat-slide-toggle></mat-slide-toggle>
                                          </div>
                                        </div>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                             </div>

                          </div>

                        </div>
                      
                      </div>     
                    </div>
                </div>

                </form>

              </mat-tab>
              

              <mat-tab>

                  <ng-template mat-tab-label class="headTabTable" class="ngTemplate">
                    <span class="tab-number">Recibo</span>
                  </ng-template>
  
                    <form class="mat-dialog-content" [formGroup] = "reciboForm">
                      
                        <div class="row">
                            <div class="pull-right box-tools">
                              <button mat-icon-button color="primary" class="info-box-icon btnAcept" focusable="false" [disabled]="reciboForm.invalid"  (click)="onSaveRec()" >
                                  <i class="fa fa-floppy-o  mat-icon"></i>
                              </button>
                              <br />
                              <a class="saveG">Guardar</a>
                            </div>
                        </div>
      
                        <div class="row">
      
                          <div class="col-md-3">
                            <div class="form-group">  

                              <div class="form-group">
                                <mat-form-field color="accent">
                                    <input matInput type="text" id="folRec" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.NUM_REC_FIA" name="folRec" formControlName="folRec">
                                    <mat-placeholder class="placeHolder">Folio Recibo</mat-placeholder>
                                </mat-form-field>
                              </div>
                                
                              <div class="form-group">
                                  <mat-form-field color="accent">
                                      <input matInput type="text" #inputstate id="relatA" class="form-control" placeholder="" [ngModel]="data.solDetFianza.VALOR_REFERENCIA1" name="relatA" maxlength="10" formControlName="relatA">
                                      <mat-placeholder class="placeHolder">Relativo a:</mat-placeholder>
                                  </mat-form-field>
                              </div>
                               
                              <div class="form-group">
                                <mat-form-field color="accent">
                                    <input matInput type="number" #inputstate id="comRec" class="form-control" placeholder="" [ngModel]="data.solDetFianza.COM_REC" name="comRec" maxlength="10"  formControlName="comRec">
                                    <mat-placeholder class="placeHolder">Comisión Recibo</mat-placeholder>
                                </mat-form-field>
                              </div>
                            
                            </div>
                          </div>
                          
                          <div class="col-md-3">
                            
                            <div class="form-group">


                              <mat-form-field color="accent">
                                  <input matInput type="number" #inputstate id="primFia" class="form-control" placeholder="" [ngModel]="data.solDetFianza.PRIMA_FIA" name="primFia" maxlength="10"  formControlName="primFia">
                                  <mat-placeholder class="placeHolder">Prima Total</mat-placeholder>
                              </mat-form-field>
                          

                          
                              <mat-form-field color="accent">
                                  <input matInput type="text" id="uuidRec" placeholder="" #input class="form-control"  [ngModel]="data.solDetFianza.UUID_REC" name="uuidRec"  formControlName="uuidRec"
                                  pattern="[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}">
                                  <mat-placeholder class="placeHolder">UUID Recibo</mat-placeholder>
                              </mat-form-field>
                              
                           
                            </div>
                          </div>
      
                        </div>

                    </form>
              
              </mat-tab>

      
            </mat-tab-group>
          
          </mat-card>

      </div>

</div>


