<style>

    /* -- Material Design Table style -------------- */

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
        background-color: #fff;
    }

    table.mat-table th.mat-header-cell{
        font-size: 15px;
        font-weight: bolder;
    }

    td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
        text-align: center;
    }

    .mat-cell {
        color: #6f6f71;
        font-size: 13px;
    }
   
    table.mat-table td:nth-child(2){
        text-align: left;
    }
    
    table.mat-table td:nth-child(3){
        text-transform: capitalize;
    }

/* ----------------------------- Responsive Table ------------------------------------------- */

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
    display: none;
}


@media(max-width: 600px) {

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    float: left;
    color: darkblue;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 300px;
  }

  table.mat-table td:nth-child(3) span{
        position: relative;
        top: -6px;
  }

  table.mat-table td:nth-child(4) span{
        position: relative;
        top: -6px;
  }
 
  table.mat-table .mat-icon-button {
    float: right;       
  }

 


}



/* ------------------------------------------------------------------------ */

    .tab-date1{
        white-space: pre-line;
    }
 
    .tab-date2{
        font-size: 12px;
        display: block;
    }

    .mat-icon-button{
        font-size: 30px;
        color: #3fb59b;
    }

    .cssFilter{
        background-color: #f7f7f7;
        font-size: 18px;
        text-align: center;
        padding: 7px 10px;
        margin-top: 0;
    }

    .cssFilter > .mat-form-field{
        width: 50%;
    }

    button.info-box-icon.mat-icon-button.bt-color-4.mat-primary {
        padding: 5px 0px 0px 0px;
    }

    i.fa.fa-pencil-square-o.mat-icon{
        display: block;
    }

    .btcolor-1{
        color: #17a2b8!important;
    }

    .bt-color-2{
        color: #28a745!important;
    }
    .bt-color-3{
        color: #dc3545!important;
    }
    .bt-color-4{
        color: #007bff!important;
    }
    .bt-color-5{
        color: #1312ff!important;
    }
    .bt-color-6{
        color: #36ffce!important;
    }

    @media screen and (max-width: 960px) {

      

  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 12px;
    text-align: right !important;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
    text-align: left !important;
  }

  .tab-date2{
    font-size: 11px;
  }

  button.info-box-icon.mat-icon-button.bt-color-4.mat-primary{
    float: right; 
    padding: 0px 0px 0px 0px;
  }

}

/**************************************************************************/
button:checked{
    background-color: #dc3545;
}


div:focus,
i:focus,
span:focus,
button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

</style>




<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-body p-2 cssFilter">
                    <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                    </mat-form-field>   
                </div>
                     
                <div class="card-tools">
                </div>
            </div>
            <div class="card-body">

                <div class="example-container mat-elevation-z8">
 
                        <table mat-table [dataSource]="dataSourseSol"  class="mat-elevation-z8"  [class.isMobile]="isMobile" matSort>
                    
                                <!-- Numero de solicitud Column -->
                                <ng-container matColumnDef="NUM_SOL" > 
                                   
                                    <th mat-header-cell *matHeaderCellDef> No. Solicitud 
                                    </th>
                                   
                                    <td mat-cell *matCellDef="let element"> {{element.NUM_SOL}} </td>
                                </ng-container>
                            
                                <!-- Tipo Solicitud Column -->
                                <ng-container matColumnDef="DES_TIPO_SOL">
                                    <th mat-header-cell *matHeaderCellDef> Tipo Fianza </th>
                                    <td mat-cell *matCellDef="let element"> <span class="mobile-label">Tipo Fianza:</span> {{element.DES_TIPO_SOL}} </td>
                                </ng-container>
                            
                                <!-- Usuario Solicitud Column -->
                                <ng-container matColumnDef="DES_USUARIO">
                                    <th mat-header-cell *matHeaderCellDef> Solicitada por: </th>
                                    <td mat-cell *matCellDef="let element"> <span class="mobile-label">Solicitada Por:</span> {{element.DES_USUARIO | lowercase}} </td>
                                </ng-container>
                            
                                <!-- FechaSolicitud Column -->
                                <ng-container matColumnDef="FEC_SOLICITUD" >
                                    <th mat-header-cell *matHeaderCellDef> Fecha Solicitud </th>
                                    <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Fecha Solicitud:</span>
                                            <span class="tab-date1">{{element.FEC_SOLICITUD | date: 'MM/dd/yyyy'}} </span>
                                            <span class="tab-date2">{{element.FEC_SOLICITUD | date: 'h:mm:ss a'}}</span>
                                    </td>
                                </ng-container>
                            
                                <!-- status Solicitud Column -->
                                <ng-container matColumnDef="DES_STATUS_SOL" >
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element">  <span class="mobile-label">Status:</span> {{element.DES_STATUS_SOL}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="actionsColumn" >
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button color="primary" class="info-box-icon" style="font-size: x-large;" [ngClass]="getStyleClass(row)" focusable="false" (click)="startEdit(row)">
                                                <i class="fa fa-pencil-square-o mat-icon"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                    
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                        </table>
                    
                        <div class="no-results" [style.display]="dataSourseSol.filteredData.length == 0 ? '' : 'none'">
                            No results
                        </div>
                    
                    
                        <mat-paginator 
                            [pageSizeOptions]="[5, 10, 25]" 
                            [length]="dataSourseSol.filteredData.length"
                            [pageIndex]="0"
                            showFirstLastButtons>
                        </mat-paginator>
                    
                </div>


            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>




