<style>

aside.main-sidebar {
    background-color: #f4f4f4 !important;
}

.cssSol{
  background-color: #f4f4f4 !important;
  color: black !important;
}

li.header {
    background: #f4f4f4 !important;
    color: black;
}

ul.treeview-menu {
  color: black;
  background: #f4f4f4 !important;
}

li.treeview a:hover {
  color: black;
  background: #f4f4f4 !important;
}

.treeview-menu>li {
    margin: 0 0 0 30px;
}

.main-sidebar{
  padding-top: 100px;
}

</style>


<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <!--
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    -->
    <!-- Busqueda -->
    <!--
    <form action="#" method="get" class="sidebar-form">
      
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    -->
    <!-- /.search form -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
    
      <li class="header"><h5><strong>Menú de Navegación</strong></h5></li>
      
      <li class="active treeview menu-open">
          <a (click)="accSol('/nueva')" class="cssSol">
              <i class="fa fa-plus-circle fa-spin fa-1x fa-fw"></i> <span> Solicitud Nueva</span>
              <span class="pull-right-container">
              </span>
          </a>
      </li>

      <li class="active">
          <a class="cssSol">
            <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> <span>Solicitudes</span>
            
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            
          </a>
          <!--<ul class="treeview-menu">-->
          <ul class="treeview-menu">
            <li><a (click)="accSol('/solicitudes', 0)"><i class="fa fa-archive mat-icon"></i> Bandeja</a></li>
            <!--<li><a href="login"><i class="fa fa-address-book-o"></i> Comentarios</a></li>-->
            <li><a (click)="accSol('/solicitudes', 2)" ><i class="fa fa-eye mat-icon"></i> En Revisión</a></li>
            <li><a (click)="accSol('/solicitudes', 3)" ><i class="fa fa-gavel mat-icon"></i> En Proceso</a></li>
            <li><a (click)="accSol('/solicitudes', 4)"><i class="fa fa-check mat-icon"></i> Fianzas Disponibles</a></li>
          </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>