
<div class="">

  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  
  <!--<div class="content-wrapper">-->
  <div class="content-wrapper contenWrapper">
    <section class="">

      <div class="row">

          <div class="col-md-12" id="dtClientes">
              <div class="box box-primary" id="boxFiltros">
                  <div class="table table-bordered table-hover">
                      <app-solicitudes-list [childStatusSol] = 'statusSol'></app-solicitudes-list>
                  </div>
              </div>
          </div>

      </div>
      
    </section>

  </div>

  <app-footernavbar></app-footernavbar>
  
  <!--<app-settingsnavbar></app-settingsnavbar>-->

</div>


<ngx-spinner
    bdOpacity = 0.5
    bdColor="rgba(51,51,51,0.8)"
    size = "large"
    color = "#fff"
    type = "timer"
    [fullScreen] = "true">
  <p style="color: white" > : : Cargando : : </p>
</ngx-spinner>
